<%- include ('partials/header.ejs') %> 
<%- include ('partials/navbar.ejs') %>


<div class="container-fluid">
    <div class="container mt-5 found-icon">
        <a href="/"><i class="las la-arrow-left"></i></a>
    </div>
    <div class="row">
       
        <div class="col-md-12">
            <img src="/img/404.jpg" alt="Not Found" class="img-fluid">
        </div>

       
    </div>

   
</div>

<%- include ('partials/footer.ejs') %>