<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>
    <div class="container mt-5">
      <div class="card">
        <div class="card-header">
          <h3>Realizar Pergunta</h3>
          <hr />
        </div>
        <div class="card-body">
          <form action="/save-question" method="POST" id="form-question">
            <label for="title">Título</label>
            <input type="text" placeholder="Título" class="form-control" name="title" />
            <label for="message">Mensagem</label>
            <textarea
              class="form-control"
              name="message"
              id="message"
              cols="30"
              rows="10"
            ></textarea>

            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
      
        </div>
      </div>

    
    </div>

    <%- include ('partials/footer.ejs') %>